body {
    background-image: url("./assets/game-background.jpg");
    background-position: center; 
    background-size: 100% 100%;
    background-size: cover;
    font-family: 'Inter', sans-serif;
    min-height: 100vh;
}

#background {
    display: grid;
    grid-template-columns: 1ft;
    justify-items: center ;
}

img {
    width: 300px;
    margin: 24px;
}

button {
    font-size: 24px;
    width: 300px;
    height: 56px;
    margin: 16px;
    background: #010101;
    border: 3px solid #979797;
    border-radius: 28px;
    color: #FFD23A;
}

button:hover {
    background-color: #FFD23A;
    border: 3px solid #FFD23A;
    color: #010101;
}

input {
    font-size: 24px;
    width: 300px;
    height: 56px;
    margin: 16px;
    padding: 0px;
    background: #D8D8D8;
    border: 1px solid #979797;
    color: #000000;
    text-align: center;
}

input:hover {
    border: 2px solid #0091FF;
}

iframe {
    height: 40px;
    width: 50px;
    position: absolute;
    top: 32px;
    left: 32px;
}

.screen-wrapper {
    display: grid;
    grid-template-columns: 1ft;
    justify-items: center;;
    margin-top: 50px;
}
.black-box-wrapper {
    padding: 10px;
    background-color: #010101;
    border: 1px solid #F88007;
    width: 320px;
    margin-bottom: 32px;
    display: grid;
    grid-template-columns: 1ft;
    justify-items: center;
}

ol {
    padding-inline-start: 20px;
}

p, li {
    color: #F88007;
    margin: 16px;
    font-size: 1.5rem;
    font-weight: 600px;
}


.rank-1 {
    color: yellow;
}
.rank-2 {
    color: white;
}